<section *ngIf="(transaction$ | async)?.loaded" class="container">

  <!-- Canvas -->
  <app-chart-canvas *ngIf="(transaction$ | async)?.currentTransaction"
                    [canvasData]="(transaction$ | async)?.currentTransaction.expenseType"
                    [canvas2Data]="(transaction$ | async)?.currentTransaction.suppliers"
                    [chartType]="(transaction$ | async)?.currentChartDisplay"
                    [title]="(currentDate$ | async).mapKey()"
                    [total]="(transaction$ | async)?.currentTransaction.total"
                    (checkBoxClicked)="onChartTypeChange($event)">
  </app-chart-canvas>

  <!-- Transaction not available -->
  <div *ngIf="(transaction$ | async)?.currentTransaction === undefined">
    Not available
  </div>

</section>



<!-- Spinner -->
<app-loading-spinner *ngIf="(transaction$ | async)?.loading"></app-loading-spinner>

