<section class="container">

  <!-- <mat-accordion> -->

  <mat-expansion-panel *ngFor="let menu of menus">

    <mat-expansion-panel-header>

      <mat-panel-title><strong>{{ menu.name }}</strong></mat-panel-title>

    </mat-expansion-panel-header>

    <!-- content list -->
    <mat-list role="list">
      <mat-list-item *ngFor="let submenu of menu.list"
                      [ngClass]="{'selected': submenu.key === currentTransaction[menu.name.toLowerCase()]}"
                      (click)="listItemSelected.emit([menu.name, submenu.key])">
        {{ submenu.name }}
      </mat-list-item>
    </mat-list>



  </mat-expansion-panel>

  <!-- </mat-accordion> -->


</section>
